In [5]:
import pandas as pd
import numpy as np

In [3]:
#Load train and test result
train_df = pd.read_csv('../../results/bert_finetuned/bert_finetuned_240426_1711_train.csv')
test_df = pd.read_csv('../../results/bert_finetuned/bert_finetuned_240426_1711_test.csv')

In [4]:
train_df.head()

,Unnamed: 0,symbol,year,quarter,transcript_esg,esg_score,esg_risk_level,esg_score_pred,esg_risk_level_pred
0,460,SWKS,2022,1,good afternoon welcome skyworks solution first...,28.0,Medium,26.118757,Medium
1,258,JPM,2022,3,firm reported net income billion eps revenue b...,29.0,Medium,26.117088,Medium
2,360,NEE,2022,2,good morning everyone welcome nextera energy n...,28.0,Medium,26.118559,Medium
3,535,WMT,2023,1,greeting welcome walmarts fiscal year first qu...,25.0,Medium,26.118534,Medium
4,545,ZTS,2022,1,thank operator good morning everyone welcome z...,18.0,Low,17.897696,Low

In [12]:
test_df.head()

,Unnamed: 0,symbol,year,quarter,transcript_esg,esg_score,esg_risk_level,esg_score_pred,esg_risk_level_pred
0,0,ADP,2022,1,call reference nongaap financial measures beli...,14.0,Low,15.311826,Low
1,1,ADP,2022,1,call reference nongaap financial measures beli...,14.0,Low,15.311826,Low
2,2,ADSK,2022,1,addition replay call available autodeskcominve...,16.0,Negligible,15.134399,Low
3,3,ADSK,2022,3,addition replay call available autodeskcominve...,16.0,Negligible,18.173985,Low
4,4,ADSK,2022,4,addition replay call available autodeskcominve...,16.0,Negligible,15.513392,Low

In [8]:
# Calculate ESG Score MSE
ESG_Score_MSE_train = np.square(np.subtract(train_df['esg_score'],train_df['esg_score_pred'])).mean() 
ESG_Score_MSE_test = np.square(np.subtract(test_df['esg_score'],test_df['esg_score_pred'])).mean()

In [9]:
# Calculate accuracy of ESG Risk Level
ESG_Risk_Level_Accuracy_train = (train_df['esg_risk_level'] == train_df['esg_risk_level_pred']).mean()
ESG_Risk_Level_Accuracy_test = (test_df['esg_risk_level'] == test_df['esg_risk_level_pred']).mean()

In [15]:
# Results
print('ESG Score MSE (Train):', round(ESG_Score_MSE_train, 5))
print('ESG Risk Level Accuracy (Train):', round(ESG_Risk_Level_Accuracy_train, 5))
print('---------------------------------')
print('ESG Score MSE (Test):', round(ESG_Score_MSE_test, 5))
print('ESG Risk Level Accuracy (Test):', round(ESG_Risk_Level_Accuracy_test, 5))

ESG Score MSE (Train): 16.37902
ESG Risk Level Accuracy (Train): 0.75551
---------------------------------
ESG Score MSE (Test): 27.75701
ESG Risk Level Accuracy (Test): 0.52899