# Data Merging - Transcripts with ESG Risk Levels & Scores

In [1]:
import os
import pandas as pd
import random

os.chdir("../..")
random.seed(42)

### Load datasets

In [4]:
transcripts = pd.read_csv("data/processed/transcripts_esg.csv")
print(transcripts.shape)
transcripts.head()

(3762, 4)

  ticker  year  quarter                                     transcript_esg
0      A  2022        1  Thank you Emily, and welcome everyone to Agile...
1      A  2022        3  Thank you, Hannah, and welcome, everyone, to A...
2    AAL  2022        1  Good morning, and welcome to the American Airl...
3    AAL  2022        2  Good morning, and welcome to the American Airl...
4    AAL  2022        2  Good morning, and welcome to the American Airl...

In [5]:
esg = pd.read_csv("data/processed/esg_score.csv")
print(esg.shape)
esg.head()

(433, 3)

  Symbol ESG Risk Level  Total ESG Risk score
0      A            Low                  15.0
1    AAL            NaN                  29.0
2    AAP     Negligible                  12.0
3   AAPL            Low                  17.0
4   ABBV         Medium                  28.0

### Merge data on `ticker`/ `Symbol`

In [6]:
df = pd.merge(
    esg, transcripts, how='inner', left_on="Symbol", right_on="ticker"
)
print(df.shape)
df.head()

(764, 7)

,Symbol,ESG Risk Level,Total ESG Risk score,ticker,year,quarter,transcript_esg
0,A,Low,15.0,A,2022,1,"Thank you Emily, and welcome everyone to Agile..."
1,A,Low,15.0,A,2022,3,"Thank you, Hannah, and welcome, everyone, to A..."
2,AAL,NaN,29.0,AAL,2022,1,"Good morning, and welcome to the American Airl..."
3,AAL,NaN,29.0,AAL,2022,2,"Good morning, and welcome to the American Airl..."
4,AAL,NaN,29.0,AAL,2022,2,"Good morning, and welcome to the American Airl..."

### Rename columns and drop excessive column

In [7]:
df = df.rename(columns={
    "Symbol": "symbol",
    "ESG Risk Level": "esg_risk_level",
    "Total ESG Risk score": "esg_score",
})
df = df[["symbol", "year", "quarter", "transcript_esg", "esg_score", "esg_risk_level"]]
df.head()

,symbol,year,quarter,transcript_esg,esg_score,esg_risk_level
0,A,2022,1,"Thank you Emily, and welcome everyone to Agile...",15.0,Low
1,A,2022,3,"Thank you, Hannah, and welcome, everyone, to A...",15.0,Low
2,AAL,2022,1,"Good morning, and welcome to the American Airl...",29.0,NaN
3,AAL,2022,2,"Good morning, and welcome to the American Airl...",29.0,NaN
4,AAL,2022,2,"Good morning, and welcome to the American Airl...",29.0,NaN

### Split dataset into train and test sets

In [8]:
symbols = df.symbol.unique()
random.shuffle(symbols)
symbols_train = symbols[:(int(len(symbols) * 0.8))]
print(len(symbols_train), len(symbols) - len(symbols_train))

177 45

In [9]:
df_train = df.loc[df.symbol.apply(lambda x: x in symbols_train)]
df_test = df.loc[df.symbol.apply(lambda x: x not in symbols_train)]
print(df_train.shape, df_test.shape)

(608, 6) (156, 6)

### Save train and test dataset

In [10]:
# df_train.to_csv("data/processed/train.csv", index=False)
# df_test.to_csv("data/processed/test.csv", index=False)